body {
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: lightgrey;
  user-select: none;
}

.header {
  padding: 10px
}

.header h1 {
  font-size: 1.2em;
  color: gray;
}

.header input {
  height: 40px;
  width: 25vmax;
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0px 15px;
}

.content {
  display: flex;
  justify-content: center;
}

.content form {
  width: 50vmax;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;
}

.content textarea {
  height: 100px;
  font-size: 1rem;
  resize: vertical;
  padding: 10px;
  border: none;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.colors input {
  width: 30px;
  height: 30px;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
}

.colors input[type="radio"]:checked::before {
  content: "✔";
  font-size: 1.5rem;
  position: absolute;
  color: darkblue;
  margin-left: 5px;
}

#pink {
  background-color: pink;
}

#purple {
  background-color: darkorchid;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: cyan;
}

#green {
  background-color: greenyellow;
}

.content-footer button {
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: rgb(5, 197, 5);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.footer {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .notes {
  width: 65vmax;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.note-container {
  width: 20%;
  min-width: 150px;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.note-container .note {
  width: 80%;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: start;
}

.note-container .cross {
  font-size: 1.2rem;
  text-align: end;
  display: inline-block;
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: inherit;
}

.cross:active {
  scale: calc(.9);
}

input[type="search"]:focus,
textarea:focus {
  outline: none;
}